$color-coral: #ff7f50;
$color-coral-light: #ffcbb8;
$color-coral-light-xl: #ffece5;
$color-coral-dark: #b83100;

.container {
  display: flex;
  flex-direction: column;
  margin: 0 10% 10%;
}

.btn {
  padding: 5px 8px;
  border: 1px $color-coral solid;
  background: white;
  outline: none;

  &:hover {
    background-color: $color-coral-light;
    cursor: pointer;
  }

  &[disabled] {
    color: black;
  }
}

.btn_active {
  background-color: $color-coral;

  &:hover {
    background-color: $color-coral;
    cursor: default;
  }
}

.btn_func {
  background-color: $color-coral-light-xl;

  &:nth-child(2) {
    margin-left: 5px;
  }

  &:hover {
    background-color: $color-coral-light;
  }
}

.btn_adding {
  margin-bottom: 10px;
  background-color: $color-coral-light;

  &:hover {
    background-color: $color-coral;
  }
}

.statistics {
  margin: 15px 0;
}

.statistics__item {
  margin: 10px 0;
}

.management {
  margin-top: 20px;
}

.management__table {
  border-collapse: collapse; 
  line-height: 1.1;

  th {
    font-size: 1.1em;
    padding: 10px; 
    border: 1px solid $color-coral-light;
    background-color: $color-coral-light-xl;
  }

  td {
    padding: 5px 7px;
    border: 1px solid $color-coral-light;
  }
}
