$color-coral: #ff7f50;
$color-coral-light: #ffcbb8;

.container {
  display: flex;
  flex-direction: column;
  margin: 10%;
}

.btn {
  padding: 5px 8px;
  border: 1px $color-coral solid;
  background: white;
  outline: none;

  &:hover {
    background-color: $color-coral-light;
    cursor: pointer;
  }
}

.btn_active {
  background-color: $color-coral;

  &:hover {
    background-color: $color-coral;
    cursor: default;
  }
}

.statistics {
  margin: 15px 0;
}

.statistics__item {
  margin: 10px 0;
}
